*.exe
TypeActionFactoryExample/bin/Debug/ConsoleApplication1.vshost.exe
TypeActionFactoryExample/bin/Debug/ConsoleApplication1.vshost.exe
TypeActionFactoryExample/bin/Debug/ConsoleApplication1.vshost.exe
TypeActionFactoryExample/bin/Debug/ConsoleApplication1.vshost.exe.manifest
TypeActionFactoryExample/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache